
/*
**	BEGIN: #Page
*/

#Page{
	width: 990px;
	text-align: left;
}

/*
**	BEGIN: #Page #Header
*/

#Header{
	margin: 0px 10px 0px 10px;
	width: 970px;
	clear: both;
}



#Header .Logo{
	float: left;
	padding: 10px 0px 2px 2px;
}

#Header .Logo .StateTag{
	font-size:12px;
	color:#000099;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
#Header .LinksRow{
	float:right; margin:25px 0px 0px 0px;
}

#Header .MainMnu {
	color:#ff6600;
	padding: 0px;
	height: 25px;
	margin:0px; 
	width:100%;
	clear: both;
	border-bottom:1px solid #0000cc; 

}

#Header .MainMnu ul {
	border: 0;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
	}

#Header .MainMnu ul li {
	display: block; 
	float: left;
	text-align: center;
	padding: 0;
	margin: 0;
	

	}

#Header .MainMnu .mnuItem {
	background: transparent url(../img/layout/menu_bg.gif) no-repeat 0px -25px;
	font-weight:bold;
	color:#0000cc;
	width: 70px;
	height: 25px;
 	padding:0px; margin:0px;
	display:block; 
	
	text-decoration:none;
	position:relative;
	}
#Header .MainMnu .mnuItem .munItemLink {
	
	padding:0px; margin:0px;
	height:21px;	 
	display:block; 
	padding-top:4px; cursor:pointer;
	
	}
#Header .MainMnu .mnuItem:hover {
	background: transparent url(../img/layout/menu_bg.gif) no-repeat 0px -50px;
	color:#333333;
	width: 70px; 
	height: 25px;
	}
#Header .MainMnu .mnuItem_active {
	background: transparent url(../img/layout/menu_bg.gif) no-repeat 0px 0%;
	color:#ffffff;
	font-weight:bold; 
	width: 70px;
	height: 25px;
	display:block;
	text-decoration:none;
}
#Header .MainMnu .mnuItem_active .munItemLink {
	
	 
	height:21px;
	display:block; 
	padding-top:4px;
	
	}
	
#Header .MainMnu .Slogan{
	float: left;
	padding: 0px;
	margin:0px;
	margin-left:10px;
	font-size:12px;
	color:#333333;
	 
	height:21px;
	display:block; 
	padding-top:4px;
	text-align:center;
	position:relative;
	
}

#Header .MainMnu .Location {
	float:right;
	color:#0000cc;
	font-weight:bold;
	font-size:11px;
	height:21px;
	margin:0px;
	padding:0px; 
	}
#Header .MainMnu .Location .State {
	border:1px dotted #cccccc;
	font-weight:bold;
	color:#d4012a;
	font-size:12px;
	background-color:#ffffff;
	margin:0px;
	padding:0px;

	}

#Header .SubMnu {
	
	clear:both;
	height:32px;
	background: transparent url(../img/layout/bg_navigation.jpg)  repeat-x 0px 0%;
 
	background-color:#0000cc;
	padding: 0px 5px 0px 5px;
	margin:0px; 
	width:960px;
	color:#ffffff;
	font-weight:bold;

}
#Header .SubMnu  A {
 	color:#ffffff;
 	font-weight:200;
	text-decoration:none;
	
}
#Header .SubMnu .QuickLink{
	float:left; padding:5px 0px 0px 5px; padding-left:10px;
}



#Header .SubMnu .QuickLink A:hover {
 	color:#ffffff;
 	font-weight:200;
	text-decoration:underline;
	
}
#Header .SubMnu .Search  {
 	float:right; padding-left:10px; padding-right:10px;
}

#Header .SubMnu .Search .Button {
 	margin:4px 4px; vertical-align:middle;
}

#Navigation{
	 margin:5px 5px 5px 15px; width:100%;

}
#Navigation .Arrow{
	color:#000000; margin:0px 5px 0px 5px;
}
#Navigation A{
	text-decoration:none;
}

#PageErr{
	 background-color:#ffffcc; 
	 border:1px solid red;
	 color:#AE091A; margin:0px; width:760px;
	 text-align:center; padding:15px; margin-left:100px;
}
/*
**	END: #Page #Header
*/

/*
**	BEGIN: #Page #Content
*/

#Content{
	padding: 0px 10px 15px 10px; 
	clear:both;
	width:970px;
}
#Content #Left{
width: 160px; float: left; margin: 0px;
}
#Content #Right{
width: 160px; float: left; margin: 0px;
}
#Content #Middle{
width: 620px; float: left; margin: 0px 15px 0px 15px;
}

/*
**	BEGIN: #Page #Footer
*/



#Footer{
	margin-top: 15px;
	margin-left: 10px;
	border-top:1px dotted #cccccc;
	width: 100%;
	clear: both; 
}
#Footer .LinksRow{
	float:left; margin:opx 0px 0px 0px;
}

/*
**	END: #Page #Footer
*/


